Repository ethan220126283/ADP3-Group34, pull requests merged in 2022-04, with the labels that each got.

#8 Completed Item and Account Entities
  .idea/compiler.xml
  README.md
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Account.java
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Fine.java
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Item.java
  src/test/java/za/ac/cput/domain/entity/TestAccount.java
  src/test/java/za/ac/cput/domain/entity/TestItem.java
Labels: documentation, builder

#31 Added ItemFactory and EntityFactory
  .idea/uiDesigner.xml
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Librarian.java
  src/main/java/za/ac/cput/LibrarySystem/factory/AccountFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/ItemFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/LibrarianFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/LibraryFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/null
  src/main/java/za/ac/cput/LibrarySystem/repository/AuthorRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/BookRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IAuthorRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IBookRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/null
  src/main/java/za/ac/cput/LibrarySystem/util/null
  src/test/java/za/ac/cput/domain/entity/TestAccount.java
  src/test/java/za/ac/cput/domain/entity/TestItem.java
Labels: factory

#34 Repositories: Item and Account
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Account.java
  src/main/java/za/ac/cput/LibrarySystem/domain/entity/Item.java
  src/main/java/za/ac/cput/LibrarySystem/factory/AccountFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/ItemFactory.java
  src/main/java/za/ac/cput/LibrarySystem/repository/AccountRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/ItemRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IAccountRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IItemRepository.java
  src/test/java/za/ac/cput/LibrarySystem/domain/entity/TestAccount.java
  src/test/java/za/ac/cput/LibrarySystem/domain/entity/TestItem.java
  src/test/java/za/ac/cput/LibrarySystem/domain/entity/TestMusicAlbum.java
  src/test/java/za/ac/cput/LibrarySystem/domain/entity/TestMusician.java
  src/test/java/za/ac/cput/LibrarySystem/factory/AccountFactoryTest.java
  src/test/java/za/ac/cput/LibrarySystem/factory/ItemFactoryTest.java
  src/test/java/za/ac/cput/LibrarySystem/repository/AccountRepositoryTest.java
  src/test/java/za/ac/cput/LibrarySystem/repository/ItemRepositoryTest.java
Labels: repository

#36 Added both Musician Factories and Repositories
  src/main/java/za/ac/cput/LibrarySystem/factory/MusicAlbumFactory.java
  src/main/java/za/ac/cput/LibrarySystem/factory/MusicianFactory.java
  src/main/java/za/ac/cput/LibrarySystem/repository/IRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/MusicAlbumRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/MusicianRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IMusicAlbumRepository.java
  src/main/java/za/ac/cput/LibrarySystem/repository/impl/IMusicianRepository.java
Labels: factory, repository

#37 Updated UML
  uml/UML Library.png
Labels: documentation
